// **
// * Misc
$i: !important;

// **
// * Color Scheme
$primary: #05bf3e;

$black: #000;
$black-1: #0a0a0a;
$black-1-o: rgba(10, 10, 10, .3);
$black-2: #141414;
$black-3: #1e1e1e;
$black-4: #282828;
$black-5: #323232;
$black-6: #3c3c3c;

$gray: #646464;